
@{
    Layout = null;
    if (ViewBag.Data == null)
    {
        Response.Redirect("~/Home/Main", true);
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome back Tshepo</title>
</head>
<body >
    <div style="padding: 20px; background-color: cyan; margin: auto; width: 900px; height: 600px;">
        
    </div>
</body>
</html>


