<!--========== FOOTER ==========-->
<footer class="footer">
    <div class="content container">
        <div class="row">
            <div class="col-xs-9">
                <p class="col-xs-9 text-right sm-text-left">
                    Need a new website or do you just want an upgrade? Contact me now!
                </p>
            </div>
            <div class="col-xs-3 text-right sm-text-left">
                <p class="margin-b-0">Tshepo Sibiya - &copy Copyright 2017</a></p>
            </div>
        </div>
        <!--// end row -->
    </div>
</footer>
