    <!--========== START SLIDER ==========-->
<div class="promo-block parallax-window" data-parallax="scroll" data-image-src="Content/img/1920x1080/01.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="promo-block-divider">
                    <p>
                        <img src="~/Content/img/1920x1080/profile.jpg" style="border-radius:70px;width:150px;height:150px" />
                    </p>
                    <p class="promo-block-text">Web Developer &amp; Back-end Developer</p>
                </div>
                <ul class="list-inline">
                    <li><a href="#" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-dribbble"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-behance"></i></a></li>
                    <li><a href="#" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <!--// end row -->
    </div>
</div>
<!--========== End SLIDER ==========-->
